<!DOCTYPE html>
<html th:replace="~{fragmentos/layout::layout(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Listado de equipos</title>
    </head>

    <body>
        <h1 class="center-text">Listado de equipos</h1>
        <br>
        <form th:action="@{/equipos/buscar}" method="post" class="form-horizontal" id="buscar-form">
            <div class="row">
                <div class="col-10 form-group">
                    <div class="control-group" id="nombre">
                        <label class="col-2 control-label">Nombre</label>
                        <input class="col-8 form-control" th:name="nombreEquipo" size="20" maxlength="20" />
                    </div>
                    <div class="control-group" id="localidad">
                        <label class="col-2 control-label">Ciudad</label>
                        <input class="col-8 form-control" th:name="nombreCiudad" size="20" maxlength="20" />
                    </div>
                </div>
                <div class="col-2 form-group">
                    <button type="submit" class="btn btn-lg btn-block btn-secondary">Buscar</button>
                </div>
            </div>
        </form>

        <br />
        <a class="col-2 btn btn-lg btn-block btn-info" style="float: right; margin-bottom: 2%" th:href="@{/equipos/nuevo}">Nuevo equipo</a>
        <br />

        <table id="dataTable" name="equipos" class="table table-striped ">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nombre Estadio</th>
                    <th>Ciudad</th>
                    <th>Pais</th>
                    <th>Fundacion</th>
                    <th />
                </tr>
            </thead>
            <tbody>
                <tr th:each="equipo : ${equipos}">
                    <td><a th:href="@{/equipos/__${equipo.id}__}" th:text="${equipo.nombre}"></a></td>
                    <td th:text="${equipo.estadio.nombre}" />
                    <td th:text="${equipo.ciudad}" />
                    <td th:text="${equipo.pais}" />
                    <td th:text="${equipo.fundado}" />
                    <td><a class="btn btn-warning" th:href="@{/equipos/__${equipo.id}__/editar}">Editar</a> <a
                            class="btn btn-danger" th:href="@{/equipos/__${equipo.id}__/eliminar}"
                            >Borrar</a></td>
                </tr>
            </tbody>
        </table>


    </body>
</html>