<!DOCTYPE html>
<html th:replace="~{fragmentos/layout::layout(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Editar/crear estadio</title>
    </head>

    <body>
        <h1 class="center-text" th:text="${esNuevo} ? 'Crear estadio' : 'Editar estadio'"></h1>
        <form  th:object="${estadio}"  th:action="${esNuevo} ? @{/estadios/nuevo} : @{/estadios/__${estadio.id}__/editar} " 
               class="form-horizontal" id="estadio-form" modelAttribute="estadio" method="post">
            <div class="form-group has-feedback">
                <div class="form-group">
                    <label class="col-2 control-label">Nombre</label>
                    <input class="col-10 form-control" th:field="*{nombre}" size="30" maxlength="100" pattern="^[A-Za-záéíóúÁÉÍÓÚçÇñÑ0-9]+[A-Za-záéíóúÁÉÍÓÚçÇñÑ0-9 \.:,-]*" required/>
                    <label class="col-2 control-label">Aforo</label>
                    <input class="col-10 form-control" type="number" th:field="*{aforo}" size="30" maxlength="100" required/>
                    <label class="col-2 control-label">Año Construccion</label>
                    <input type="date" class="col-10 form-control" th:field="*{construido}" size="30" maxlength="100" required/>
                    <div class="form-group">
                        <label class="col-2 control-label">Calle</label>
                        <input class="col-10 form-control" th:field="*{direccion.calle}" size="30" maxlength="30" pattern="^[A-Za-záéíóúÁÉÍÓÚçÇñÑ0-9]+[A-Za-záéíóúÁÉÍÓÚçÇñÑ0-9 \.:,-]*" required/>
                        <label class="col-2 control-label">Numero</label>
                        <input class="col-10 form-control" type="number" th:field="*{direccion.numero}" size="30" maxlength="100" required/>
                        <label class="col-2 control-label">Ciudad</label>
                        <input class="col-10 form-control" th:field="*{direccion.ciudad}" size="30" maxlength="100" pattern="^[A-Za-záéíóúÁÉÍÓÚçÇñÑ0-9]+[A-Za-záéíóúÁÉÍÓÚçÇñÑ0-9 \.:,-]*" required/>
                        <label class="col-2 control-label">Pais</label>
                        <input class="col-10 form-control" th:field="*{direccion.pais}" size="30" maxlength="100" pattern="^[A-Za-záéíóúÁÉÍÓÚçÇñÑ0-9]+[A-Za-záéíóúÁÉÍÓÚçÇñÑ0-9 \.:,-]*" required/>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-success col-2" th:text="${esNuevo} ? 'Crear' : 'Guardar'" type="submit">
                        Guardar</button>
                    <a class="btn btn-lg btn-block btn-secondary col-2" th:href="@{/estadios/}">Cancelar</a>
                </div>
            </div>
        </form>
    </body>
</html>